.top-banner .classic-btn {
    position: absolute;
    margin-top: 75px;
}
.top-banner-inner .slide-icons {
    position: absolute;
    margin-top: 148px;
}
.top-banner-bottom .curencies-banner {
    position: absolute;
    margin-top: 240px;
}
.home-content {
    margin-top: 10px;
}
.rbt-ico-1 {
    bottom: -18px;
}