body, html {
    width: 100%; 
    overflow-x:hidden
  }
  
h1{
    font-size: 24px;
}
  .banner-content {
    display: flex;
    width: 105%;
}
.top-banner::before{
    display:none
}
.bg-top-header:before {
    content: "";
    background-image: url(../images/bg-top-3.png);
    position: absolute;
    top: 0px;
    margin: 0 auto;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.18;
    width:0px;
    background-repeat: repeat-x;
}

.top-banner .banner-rating {
 
     padding: 0px;
     margin-top: 0px; 
    background-repeat: no-repeat;
  width: auto; 
}
.top-banner .index-ratings{
    display:none
}
.top-banner {
    background-color: transparent;
    padding-left:10px !important;
    padding-right:0px;
    position:relative
}
.sm-block{
    display:block
}
.sm-none{
    display:none
}


.xs-100{
    width:100%
}

.top-banner .classic-btn{
    position:absolute;
    margin-top:40px;
    margin-left: -10px;
}  
.top-banner-inner .slide-icons{
    position:absolute;
    margin-top:100px;
} 
.top-banner-bottom {
   
    margin-top: 80px;
    min-height: 393px;
    padding:20px 0px
} 


.top-banner-bottom .banner-rating {
    background-image: none;
    background-size: cover;
    padding: 0px;
    margin-top: -57px;
    background-repeat: no-repeat;
    width: 450px;
}
.top-banner-bottom .banner-content {
    width: 100%;
}
.top-banner-bottom{
    position:relative;
}  

.top-banner-bottom .curencies-banner{
    position:absolute;
    margin-top:70px;
    left:0;
    width:100%
} 
.banner-rating {
    position: unset;
}
.ico-width {
    width: 29px !important;
}
.rbt-ico-1 {
   
    bottom: 25px;
    width: 55% !important;
    left: 15px;
}
.top-banner {
  
    padding: 0px 30px 0px 30px;
    
    border-radius: 10px;
    margin-top: 7px;
}
.back-light {
  
    display: none;
}

.navbar-toggler {
    padding: 0.25rem 0rem;
    
}
.navbar .classic-btn {
    height: auto;
    width: 100%;
}
.navbar .navbar-collapse{
    margin-top: 18px;
}
.overview-case {
    width: 100%;
}
.inner-block h1{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 14px;
}
.right-sidebar ul {
    width: 100%;
    margin: 30px auto;
}
.marg-5{
    margin:5px 0px
}
.inner-block-text {
    padding: 30px;
    max-width: 92%;
    margin: 30px auto !important;
    background-color: #241f43;
    border-radius: 8px;
}

.testimonial-title{
    width:100%
}
.testimonial-title .col-lg-4 {
    width:30%
}
.testimonial-title .col-lg-8 {
    width:70%
}

 .footer-content .col-lg-8{
    width:100% !important;
}
.footer-content .w-50 {
    width:100% !important;
} 
.footer-content  .classic-btn{
    width:100%;
    margin-bottom:10px
}

.footer-column:nth-child(1) { order: 3; }
.footer-column:nth-child(2) { order: 2; }
.footer-column:nth-child(3) { order: 4; }
.footer-column:nth-child(4) { order: 1; }

.footer-column {
    max-width: 100% !important;
    text-align:center
}
 .footer-inner .col-sm-5{
    margin:20px 0px;
    width: 47%  !important;
    text-align:left
}


.contact-s li:before {
    content: none !important;
    
}

.table-sm{
    background-color:#241f43;
    border-radius:10px;
    margin-top:10px
}

.tr-column-data:hover > th {
    background-color: #241f43;
}

.top-banner h1{
    text-align:Center;
    font-size:30px
}
.head-nav {
    
    background-color: #0f0b26
}
.head-nav {
    
     padding: 0px 0px; 
}