*{
    margin:0;
    padding:0;
    color:white
}

::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: #07041c;
  }
   

  ::-webkit-scrollbar-thumb {
    background: #bebebe; 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body{
    background-color:#07041c;
    color:white
}
.container{
   
        max-width: 1150px;
}
img{
    max-width:100%
}
.img-icon{
    width: 50px;
    height: 50px;
}
/*Header */

@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

.logo-text {
  

    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: #f5f5f5;

}
.logo-sit{
    margin-top:-50%;
    margin-top: -84%;
    display: block;
    font-size: 12px;
    margin-left: 92%;
    text-transform: uppercase;
}
.nav-link{
    color:white !important
}

.menu-btn{
    width:30px;
    display:block;
    margin:6px 0px;
    height:2px;
    background-color:white;
}


@media (min-width: 992px){
    
.header-top{
    display:flex;
    justify-content: space-between;
}
.navbar-expand-lg{
    width:88%
}

.navbar-nav, .navbar-collapse{
    width:100%
}

.navbar-nav .classic-btn{
    width:auto
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-nav{
    display:flex;
    justify-content: space-around;
}
}



.slider-section{
    width:100%;
  
}


.borders-line{
    border: 1px solid transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(60deg, #78e4ff, #cea05582);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #07041c inset;
}
.top-banner{
    min-height:300px;
    padding:30px 30px 0px 30px;
    background-color:#1b1736;
    border-radius:10px;
    margin-top:50px;
  
    
}
.top-banner-bottom{
    min-height:300px;
    padding:30px 30px 0px 30px;
   
    margin-top:5px;
    
}
.banner-content{
    display:flex;
    width:80%
}
.banner-texts span{
    display:block;
    margin: 5px 0px;
    font-weight: 500;
}


.banner-texts{
   margin-top:30px;
   margin-bottom:10px;
}
.top-banner {
    position:relative
}
.slide-icons img{
    height:15px;
    margin-top: -7px;
   

}
.slide-icons{
    margin-top:40px;
}
.slide-icons span{
    background-color:#1a1634;
    margin:0px 10px;
    padding:2px 10px;
    border:1px solid rgb(113, 113, 165);
    border-radius:15px;

}
.fa-chevron-right{
    margin-right:10px
}
.home-content{
    border-top:1px solid #5b5775;
    margin-top: -60px;
}

.banner-rating{
    background-image: url(../images/background-light.png);
    background-size: cover;
    padding: 110px;
  
    margin-top: -57px;
    background-repeat: no-repeat;
    width: 450px;

  
}
.banner-rating img{
    width:210px
}
.sm-none{
    display:none
}

.slide-ratings{
 
    margin-top:20px;
    text-align: center;
}

.banner-rating{
    position:relative
}
.index-ratings{
    width:140px !important;
    position: absolute;
    right: -80px;
    top: -43px;
    
}

.back-light{
    position:absolute;
    display: table

}
.back-light {
    background-image: url(../images/background-light.png);
    background-size: cover;
    opacity: 0.5;
    padding: 180px;
    position: absolute;
    right: -100px;
    top: -20px;
    margin-top: -57px;
    background-repeat: no-repeat;
    width: 458px;
}

.bg-opacity{
    display: table-cell; width:50%;

}
.top-banner-bottom .top-banner-inner img{
    width:80%
}

.top-banner-bottom .banner-rating{
    width:auto !important
}
.top-banner-bottom .banner-content {
    width: 90%;
}
.head-section{
    background-image: url(../images/home-bg.jfif);
    width: 100%;
    background-size: cover;
    padding-top: 10px;
}

.head-nav{
    width:100%;
    background-color:#07041c;
    padding:10px 0px
}

.top-banner-bottom .robot-pic{
  position:relative
}
.rbt-side{
    position: absolute;
    display: block;
  
}
.ico-width{
    width:70px !important
}
.rbt-ico-1{
    position: absolute;
    display: block;
   bottom: 75px;
    left: -18px;
}
.rbt-ico-2{
    position: absolute;
    display: block;
    top:0px;
    left:0px
  
}
.rbt-ico-3{
    position: absolute;
    display: block;
    top:0px;
    right:55px
}
.rbt-ico-4{
    position: absolute;
    display: block;
    bottom:140px;
    left:40px
}
.rbt-ico-5{
    position: absolute;
    display: block;
    right:55px;
    bottom:140px;
}

  .bg-top-header { padding-top: 10px;


}
.bg-top-header:before {    
    content: "";
    background-image: url(../images/bg-top-3.png);
  
    position: absolute;
    top: 0px;
    margin: 0 auto;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.18;
    width: 1300px;
    background-repeat: repeat-x;
}
.curencies-banner span{
    display:block
}
.curencies-banner {
    display:flex;
    justify-content:space-between;
    margin-top:30px;
    
}
.curencies-banner span span{
    font-size:11px;
    color:#7e77ac;
    font-weight:900
}
.curencies-banner span i{
    font-size:20px;
    color:#7e77ac
}

.classic-btn {

    height:auto;
    width: auto;
    background-color: transparent;
    padding: 10px 49px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid white;
    color:#fff;
    margin: auto;
    border:1px solid transparent !important;
   background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px #241f46 inset;
  }

  .btn-border-white{
    background-image: unset !important;
    border: 1px solid white !important;
}
.bg-btn-black{
    box-shadow: 2px 1000px 1px #000000 inset !important;  

}
.bg-btn-aqua{
    box-shadow: 2px 1000px 1px #07041c inset !important;  

}
.f-weight-700{
    font-weight: 700 !important;
}
.f-weight-900{
    font-weight: 900 !important;
}
.m-left{
    margin-left: 5px;
}
.txt--gradient{ 

    background-image: linear-gradient(to right, #79d0f2, #e790ff);
    color: rgba(0, 0, 0, 0);
    -webkit-background-clip: text;
  
    position: relative;
}







/*Home page*/
.home-block{
    margin:50px auto;
}
.home-overview{
    border:1px solid rgb(248, 248, 248);
    border-radius: 10px;
    width:100%;
    padding:33px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.home-overview-btn{
    border:1px solid rgb(248, 248, 248);
    border-radius: 10px;
    width:100%;
    padding:33px;
}
.overview-case{
    width:47%;
    height:auto;
    padding:5px;
    text-align:center;
    margin:12px 0px;
    
}
.overview-p{
   padding:5px;
   margin:10px 0px;
    
}
.overview-case h6{
    text-transform:uppercase;
    font-size: 16px;
    color: #8d8c8c;
}
.inner-block{
    margin:50px 0px;
}
.home-content button{
    width: 100%;
    background-color: transparent;
    padding: 12px 10px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid white;
}


.section-part{
    margin:50px 0px
}
.mid-inner{
    padding:0px  !important
}


/*Side bar */
.right-sidebar h4{
    background-color: #241f43;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-radius: 23px;
    padding: 10px;
    font-size: 21px;
}

p{
    margin:20px 0px
}
.right-sidebar ul{
    width: 90%;
    margin: 30px auto;
    
}
.right-sidebar ul li{
    border-bottom: 1px solid #433e64;
    list-style-type: none;
    padding: 10px 15px;
}

.closer {
    list-style-type: none;
}
.right-sidebar ul li:before {
    content: '•';
    margin-right: 3px;
}
.right-sidebar ul li:last-child{
    border-bottom: none
}

.right-side-inner{
    margin:10px auto;
    width:90%;
}

.right-side-inner img{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    max-height: 55px;
    border-radius: 7px;
}

.right-side-inner h6{
    font-size:16px;
}
.right-side-inner span{
    font-size:12px;
}
.right-side-inner  .col-lg-4{
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.right-side-inner button{
    padding: 8px 9px;
    margin-top: 5px;
}

.sidebar-row{

    border-radius: 10px;
    padding: 12px 5px;
    margin:5px auto;
    width: 100%;
}
.sidebar-row .col-lg-3{
    padding-right: 10px !important;
    padding-right:10px !important;
}
.sidebar-row:hover{
    background-color: #241f43;
}
.latest-news .text-desc{
  font-size:14px;
}

.right-sidebar .col-lg-5, .col-lg-9{
    padding-left: 0px;

}
.home-overview-btn h5{
    text-align: center;
    margin-bottom: 23px;

}

.inner-block-text{
    padding:40px;
    background-color: #241f43;
    border-radius: 8px;
    margin:30px 0px;

}

.num-round{
    font-size: 17px;
    margin-right: 12px;
    background-color: #423d64;
  
    width: 30px;
    padding: 5;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    font-weight: 600;
    display: inline-block;
    border-radius: 50%;
}
.inner-block-head{
    display:flex
}

.pros-title{
    background-color:#00bb83
}

.cons-title{
    background-color:#fd387f
}
.p-c-title{
    padding: 10px 20px;
    border-radius: 10px;
}
.pros-cons .sidebar-row{
    background-color:#241f43;
    margin: 15px 0px;
}
.pros-cons .fa-xmark{
    color:#fd387f;
    font-size:13px
}
.pros-cons .fa-check{
    color:#00bb83;
    font-size:13px
}
table{
    width:100%
}

.detail-table table tr{
    height: 40px;
    border-bottom:1px solid white
}
.detail-table table tr:last-child{
    border-bottom: none
}
.detail-table table tr:first-child{
    border-bottom: 2px solid rgb(191, 255, 241)
}
.detail-table table tr td:first-child{
    padding-left:10px
}
.detail-table table tr td{
    padding-top:10px;
    padding-bottom:10px;
}

.left-border{
    border-left:4px solid white;
    padding-left:30px;
    padding-top:20px;
    padding-bottom:20px;
    margin:40px 0px
}

.ratings i{
    font-size: 14px;
    color:#ecb23b

}
.table-column{
    display: table;
}
.table-column tr {
	display: table-cell;
    margin: 20px;
    width:33%
  
}
.table-column tr td {
	display: block;
    height:50px
}
.table-column tr th {
	display: block;
    min-height:50px;
    height:auto;
    margin-bottom: 60px;
}
.tr-column-data td{
    padding: 0px 20px
}
.tr-column-data:hover{
    background-color: #241f43;
}
.tr-column-data:hover > th{
    background-color: #07041c;
}



.question {
    background-color: #07041c;
    border:1px solid white;
    color: black;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
.faq-home .active{
    background-color: #241f43 !important;
    border:none
}
.question h4{
	margin: 0;
	padding: 5px;
}
.answer {
    background-color: #241f43;
    display: none;
    border-radius: 10px;
}
.answer p {
    margin: 0;
    padding: 25px;
    text-align: justify;
}
.img-round{
    border-radius:50%
}
.tr-column-data .img-icon {
    width: auto !important;
    height: 35px !important;
    margin-top:10px;
}
.arrow {
    background-image: url(https://png.pngtree.com/svg/20160818/78287d069c.svg);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    background-color: #b7b7b7;
    border-radius: 50%;
    right: 10px;
    padding: 12px;
}
.arrow-active{
	transform: rotate(180deg);
}

.testimonial-title{
  width:40%;
  margin:0 auto
}
.testimonial-title p{
    padding:0px 10px;
    margin:0px
}
.marg-center{
    margin:0 auto;
}
.news-letter{
    background-color: #241f43;
    padding:30px 0px;
    border-radius:10px;
    margin-bottom:50px;
}
.news-letter h4{
    margin:20px 0px;
    text-transform: uppercase;
    
}
.footer-icons img{
    height:25px;
    margin:0px 20px;

}

.footer{
    margin:40px 0px;
}
.footer-inner{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;

}
.footer-column{
    max-width:30%
}
.footer-column li{
    list-style: none;
}
.footer-column li:before {
    content: '•';
    margin-right: 3px;
}
.social-links i{
    font-size:22px;
    margin:0px 10px
}
hr.footer-line {
    border-top: 1px solid #241f43;;
  }
  .copy-rights{
      text-align:center
  }